.bg-semitrans {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-item {
    padding: 5px 20px;
    border-radius: 25px;
}

.nav-item:hover {
    transition-duration: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-link {
    font-size: 1.7vh;
    font-weight: bold;
}

.hero-img {
    background: url(/img/hero-img.jpg);
    min-height: 100vh;
    background-size: cover;
}

.desc {
    color: whitesmoke;
    font-size: 2vh;
    line-height: 35px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 25px;
}

.footer {
    background-color: blanchedalmond;
    position: relative;
    margin-top: 10%;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.author{
    color: black;
}