@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap");

body {
    font-family: "Jost", sans-serif;
    background-color: #fffffc;
    color: #14213d;
    /* font-size: 1.5vh; */
}

.main {
    min-height: 84.1vh;
}

.nav-text {
    color: #064635 !important;
}

.nav-item {
    padding: 5px 15px;
    border-radius: 25px;
}

.nav-item:hover {
    transition-duration: 0.7s;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-link {
    /* font-size: 1.7vh; */
    font-weight: bold;
}

.hero-img {
    background: url(/img/hero-img.jpg);
    min-height: 100vh;
    background-size: cover;
}

.hero-text {
    margin-top: -250px;
}

.desc {
    color: #212121;
    font-size: 2vh;
    line-height: 35px;
}

.card:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.footer {
    background-color: #2d6a4f;
}

